<h1>Listing lists</h1>

<% @list_places.each do |list_place|
   list = list_place.first
   place = list_place.last
%>
  <div class="list">
    You are near <%= place.name %>. You had to <%= list.subject %>
    <br/>
    <audio controls = "controls">
      <source src="<%= "/audio/#{list.id}.mp4"%>" type="audio/mp4"/>
       This browser does not support HTML5 audio :-(
    </audio>
    <br/>
    <%= link_to 'Show', @list %>
    <%= link_to 'Edit', edit_list_path(@list) %>
    <%= link_to 'Destroy', @list, confirm: 'Are you sure?', method: :delete %>
  </div>
<br />
<% end %>

<%= link_to 'New List', new_list_path %>
